:root {
    --primary-color: #6a98df;
    --secondary-color: #1766dd;
    --text-color: #333;
    --bg-color: #f5f5f5;
    --meta-color: #777;
    --heading-font: Arial, sans-serif;
    --body-font: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--bg-color);
    text-decoration: none;
}

main {
    padding: 1rem;
}

article {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-meta {
    font-size: 0.8rem;
    color: var(--meta-color);
    margin-bottom: 0.5rem;
}

.categoria {
    font-weight: bold;
    margin-right: 2rem;
}

aside {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 5px;
}

aside ul {
    list-style-type: none;
    padding: 0.8rem;
}

aside ul li {
    padding: 0.2rem;
}

aside ul li a {
    color: var(--bg-color);
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }

    .posts {
        flex: 2;
        margin-right: 1rem;
    }

    aside {
        flex: 1;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1024px){
    main{
        max-width: 1440px;
        margin: 0 auto;
        padding: 2rem;
    }

    .posts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}